@import "../../../app.scss";

.hoc-exhibitors-list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-color: pink;
    // display: none;
}