  @import "../../app.scss";

.link{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.topbar{
    position: sticky;
    top: 0;
    z-index: 3;
    font-weight: bold;
    color: white;
    background-color: white;
    font-size: 0.75rem;
}

.topbar-top{
    display: flex;
    // background-color: yellow;
    width: 100%;
    // justify-content: space-between;
    height: 10rem;
}
@include media(mobile,tablet, xl-tablet,small-desktop, 1275px){
    .topbar-top{
        font-size: 0.8rem;
        height: 8.5rem;
    }
}


.topbar-left{
    flex: 2.5;
    // background-color: pink;
    display: flex;
    // justify-content: baseline;
    align-items: flex-end;
}
@include media(mobile,tablet, 1015px){
    .topbar-left{
        flex: 2.5;
    }
}


.topbar-left-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    // background-color: yellow;
    height: 80%;
    align-items: center;
    justify-content:flex-end;
    gap: 0.2rem;
}
@include media(mobile, small-desktop){
    .topbar-left-cont{
        justify-content: center;
        height: 100%;
    }
}

.topbar-left-item{
    background-color: #a30203;
    padding: 0.3rem 0.1rem;
    // margin: 0.1rem;
    width: 80%;
    text-align: center;
    // height: 50%;
    // height: 100%;
}

.topbar-center{
    flex: 2;
    // background-color: aqua;
}
.topbar-center-img-cont{
    height: 100%;
    width: 100%;
}
.topbar-center-img{
    width: 100%;
    height: 100%;
    // object-fit: cover;
}

.topbar-right{
    flex: 4;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // justify-content: flex-end;
    // align-items: flex-end;
}
@include media(mobile, small-desktop){
    .topbar-right{
        display: none;
    }
}

.topbar-right-top{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 0.9rem;
    // background-color: yellow;
}
@include media(mobile, small-desktop){
    .topbar-right-top{
        // height: 20%;
        // flex: 0;
        // display: none;
    }
}

@include media(1275px){
    .topbar-right-top{
        height: 15%;
        // flex: 0;
        // display: none;
    }
}

.trr-top{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: #a30203;
}
.trr-top-black{
    color: black;
    font-size: 0.9rem;
    // background-color: white;
    width: 100%;
    text-align: center;
    // font-size: 0.9rem;
    // display: none;
}
@include media(1275px){
    .trr-top-black{
        // display: none;
    }
}

.trr-top-icons{
    display: flex;
    gap: 0.5rem;
}

.trrt-icon{
    text-decoration: none;
    color: inherit;
}

.topbar-right-bottom{
    flex: 1;
    // background-color: pink;
    // background-color: lime;

    display: flex;
    align-items: flex-end;
    // flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    // align-items:flex-end;
    // justify-content:flex-end
}

@include media(1275px){
    .topbar-right-bottom{
        height: 80%;
        display: flex;
        align-items: flex-end;
        // flex: 0;
        // display: none;
    }
}

.trb-left{
    flex: 4;
    // border-right: ;
    // margin-right: 1rem;
}
.trb-left-list{
    // color: white;
    // width: 80%;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // align-items: center;
    // justify-content:flex-end;
    // background-color: blue;
    padding: 0;
    margin: 0;
    gap: 0.2rem;
}
.trb-left-item{
    // all: unset;
    // background-color: lime;
    background-color: #a30203;
    width: 100%;
    // text-align: center;
    padding: 0.3rem 0.3rem;
    // margin: 0;
    // margin: 0.1rem;
    // margin: 0;
    // padding: 0;
    // list-style-position: outside;
    // border-right: 1rem solid white;
    // border-right: 3rem solid pink;
    // border-width: 3rem;
}


.trb-right{
    flex: 2;

}

.trb-right-list{
    // color: white;
    // width: 80%;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // align-items: center;
    // justify-content:flex-end;
    // background-color: lime;
    padding: 0;
    margin: 0;
    gap: 0.2rem;
}
.trb-right-item{
    // all: unset;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 0.3rem 0rem;
    // margin: 0;
    // margin: 0.1rem;
    // margin: 0;
    // padding: 0;
    // list-style-position: outside;
    // font-weight: 300;

}



.topbar-bottom{
    // background-color: lime;
    background-color: #a30203;
    margin-top: 0.15rem;
    display: flex;
    justify-content: space-around;
    height: 3.9rem;
    align-items: center;
    font-size: 0.65rem;


}
@include media(mobile, xl-tablet, small-desktop){
    .topbar-bottom{
        display: none;
    }
}
@include media(small-desktop, 1275px){
    .topbar-bottom{
        font-size: 0.7rem;
        height: 3.9rem;
    }
}

.topbar-bottom-item{
    background-color: #451701;
    height: 1rem;
    // width: max-content;
    width: 7%;
    text-align: center;
    padding: 0.8rem 1.2rem;
    // background-color: pink;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;

}

@include media(1275px){
    .book-stand-link-desktop{
        font-size: 0.62rem;
    }
}


.topbar-mobile-dropdown{

    display: none;
}

@include media(small-desktop){
    .topbar-mobile-dropdown{
        display: block;
            // color: lime;
        // color: blue;
        color: white;
        // color: red;
        width: 100%;
        // background-color: aqua;
        cursor: pointer;
        font-size: 1.05rem;
        font-weight: 300;
    }
}

.menu-icon{
    color: blue;
    width: 100%;
    background-color: tomato;
    background-color:#a30203;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
    position: sticky;
    top: 0;
    // font-size: 3rem;
}
.tmdm-icon{
    font-size: 2rem;
}


.menu-icon-content{
    background-color: yellow;
    background-color: red;
    background-color:#a30203;
    // font-size: 2rem !important;

}

.mobile-menu-schedule-ul{
    display: flex;
    flex-direction: column;
    background-color: gray;
    background-color: red;
    background-color:#a30203;

    // width: 100%;
    margin: 0;
    gap: 0.5rem;
}

.mobile-menu-schedule-ul > span {
    background-color: yellow;
    background-color: red;
    background-color:#a30203;


    padding: 0.5rem 0;
    border-bottom: 1px white solid;
}

.mic-item{
    padding: 0.3rem;
    background-color: pink;
    background-color: red;
    background-color:#a30203;


    margin: 0.2rem 0rem;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // line-height: 2rem;
}
.mic-item.topbar-mimic{

}

.mic-item.topbar-mimic > span{
    display: flex;
    flex-direction: column;
    // text-align: left;
    // background-color: yellow;
    // gap: 0.5rem;
    // background-color: black;
}

.mic-item.topbar-mimic > span > li{
    // display: flex;
    // flex-direction: column;
    // text-align: left;
    // background-color: yellow;
    width: 100%;
    // gap: 0.5rem;
    margin: 0.1rem 0;
    background-color: black;
    padding: 0.5rem 0rem;

}

.mimmh-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: violet;
    background-color: red;
    background-color:#8d0202;
    padding: 0.4rem 0rem;

    // font-size: 5rem;
}

.mimmh-icon{
    // all: unset;
    font-size: 1rem;
    // display: none;
    margin-right: 0.5rem;
}




.desktop-topbar-dropdown{
    position: absolute;
    top: 3rem;
    background-color: yellow;
    background-color: #a30203;
    z-index: 4;
    // text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    // padding: 0.3rem 1rem;
    border-radius: 0 0 0.8rem 0.8rem;
    overflow: hidden;

}
.dtdl-cont{
    display: flex;
    flex-direction: column;
    background-color: white;
    // border-radius: 0 0 0.8rem 0.8rem;

    gap: 0.1rem;
}

.desktop-topbar-dropdown-link{
    background-color: #a30203;
    // background-color: green;
    // border-bottom: 1px solid white;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    // font-weight: 300;
}
