@import "../../../app.scss";

.hst1{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    display: flex;
}

@include media(mobile){
    .hst1{
        flex-direction: column;
    }
}


.hst1-left{
    flex: 2;
    height: 100%;
    // background-color: yellow;
}

.hst1-img{
    width: 100%;
    object-fit: cover;
    // opacity: 0.6;
    // // animation-name: fade;
    // // animation-duration: 1.5s;
    // position: absolute;
    // z-index: -1;
}

.hst1-right{
    flex: 3;
    height: 100%;
    // background-color: lime;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;

}

.hst1-right-top1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.hst1-right-top2{
    font-weight: bold;
}

.hst1-right-bottom{
    padding-bottom: 1rem;
}
.hst1-right-bottom>button{
    background-color: black;
    color: white;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}